In [1]:
import pandas as pd
import numpy as np

In [2]:
factors = pd.read_csv("/Users/armanarkilic/Desktop/BECM/factors.csv")
libor = pd.read_csv("/Users/armanarkilic/git/vista-pxproc/dat/REFDATA/LIBOR.csv")
spread = pd.read_csv("/Users/armanarkilic/Desktop/libor_spread.csv")
factors.head()

,Date,3137G0AM1,3137G0AY5,3137G0BK4,3137G0BW8,3137G0CH0,3137G0CU1,3137G0DF3,3137G0DW6,3137G0EJ4,...,3137G0LJ6,3137G0LU1,3137G0MD8,3137G0NE5,3137G0NX3,3137G0PU7,30711XEP5,30711XGP3,30711XJX3,30711XLT9
0,10/25/17,1.0,1.0,0.962965,1.0,1.0,0.919041,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,9/25/17,1.0,1.0,0.979461,1.0,1.0,0.936304,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,8/25/17,1.0,1.0,0.999443,1.0,1.0,0.955248,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,7/25/17,1.0,1.0,1.000000,1.0,1.0,0.972712,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,6/26/17,1.0,1.0,1.000000,1.0,1.0,0.990658,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [3]:
dates = factors['Date']
cusips = factors.columns[1:]

In [4]:
factors['Date'] = pd.to_datetime(factors['Date'])
libor['DATE'] = pd.to_datetime(libor['DATE'])
libor.index = libor.DATE
facts = factors[factors['Date'] >= '2016-12-27']
facts

,Date,3137G0AM1,3137G0AY5,3137G0BK4,3137G0BW8,3137G0CH0,3137G0CU1,3137G0DF3,3137G0DW6,3137G0EJ4,...,3137G0LJ6,3137G0LU1,3137G0MD8,3137G0NE5,3137G0NX3,3137G0PU7,30711XEP5,30711XGP3,30711XJX3,30711XLT9
0,2017-10-25,1.0,1.0,0.962965,1.0,1.0,0.919041,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,2017-09-25,1.0,1.0,0.979461,1.0,1.0,0.936304,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,2017-08-25,1.0,1.0,0.999443,1.0,1.0,0.955248,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,2017-07-25,1.0,1.0,1.000000,1.0,1.0,0.972712,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,2017-06-26,1.0,1.0,1.000000,1.0,1.0,0.990658,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,2017-05-25,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,2017-04-25,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
7,2017-03-27,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN
8,2017-02-27,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
9,2017-01-25,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0,1.0,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2016-12-27,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0,1.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Forward fill libor table
libor = libor.resample("D").ffill() #forward fill libor data
libor.head()

                 DATE    RATE
DATE
2014-01-02 2014-01-02  0.0956
2014-01-03 2014-01-03  0.0950
2014-01-04 2014-01-03  0.0950
2014-01-05 2014-01-03  0.0950
2014-01-06 2014-01-06  0.0945

In [6]:
dates = facts['Date']
cusips = facts.columns[1:]

In [7]:
dx = pd.DataFrame(columns=['date', 'CUSIP','FACTOR', 'LIBOR', 'SPREAD'])
l = 0
for i in range(len(dates)):
    for j in range(len(cusips)):
        fact_val = facts[facts['Date']==dates[i]][cusips[j]].values[0]
        libor_val = libor[libor.index==dates[i]]['RATE'].values[0]
        spread_val = spread[spread.CUSIP==cusips[i]].FLT_SPREAD.values[0]
        cusip = str(cusips[j])
        dx.loc[l] = [dates[i], cusip, fact_val, libor_val, spread_val]
        l += 1

In [8]:
dx.head()

        date      CUSIP    FACTOR    LIBOR SPREAD
0 2017-10-25  3137G0AM1  1.000000  1.18444    450
1 2017-10-25  3137G0AY5  1.000000  1.18444    450
2 2017-10-25  3137G0BK4  0.962965  1.18444    450
3 2017-10-25  3137G0BW8  1.000000  1.18444    450
4 2017-10-25  3137G0CH0  1.000000  1.18444    450

In [9]:
dx

          date      CUSIP    FACTOR    LIBOR SPREAD
0   2017-10-25  3137G0AM1  1.000000  1.18444    450
1   2017-10-25  3137G0AY5  1.000000  1.18444    450
2   2017-10-25  3137G0BK4  0.962965  1.18444    450
3   2017-10-25  3137G0BW8  1.000000  1.18444    450
4   2017-10-25  3137G0CH0  1.000000  1.18444    450
5   2017-10-25  3137G0CU1  0.919041  1.18444    450
6   2017-10-25  3137G0DF3  1.000000  1.18444    450
7   2017-10-25  3137G0DW6  1.000000  1.18444    450
8   2017-10-25  3137G0EJ4  1.000000  1.18444    450
9   2017-10-25  3137G0EW5  1.000000  1.18444    450
10  2017-10-25  3137G0FJ3  1.000000  1.18444    450
11  2017-10-25  3137G0FW4  1.000000  1.18444    450
12  2017-10-25  3137G0GW3  1.000000  1.18444    450
13  2017-10-25  3137G0GJ2  1.000000  1.18444    450
14  2017-10-25  3137G0HJ1  1.000000  1.18444    450
15  2017-10-25  30711XAD6  1.000000  1.18444    450
16  2017-10-25  30711XAF1  1.000000  1.18444    450
17  2017-10-25  30711XAH7  1.000000  1.18444    450
18  2017-10-25  30711XAK0  1.000000  1.18444    450
19  2017-10-25  30711XAM6  0.986404  1.18444    450
20  2017-10-25  30711XAP9  0.940305  1.18444    450
21  2017-10-25  30711XAR5  0.821527  1.18444    450
22  2017-10-25  30711XAT1  0.795575  1.18444    450
23  2017-10-25  30711XAV6  0.525797  1.18444    450
24  2017-10-25  30711XAX2  0.825825  1.18444    450
25  2017-10-25  30711XAZ7  0.832449  1.18444    450
26  2017-10-25  30711XBB9  0.891491  1.18444    450
27  2017-10-25  30711XBD5  0.938809  1.18444    450
28  2017-10-25  30711XBF0  0.983743  1.18444    450
29  2017-10-25  30711XBH6  0.981907  1.18444    450
..         ...        ...       ...      ...    ...
575 2016-12-27  30711XAZ7  1.000000  0.69378    325
576 2016-12-27  30711XBB9  1.000000  0.69378    325
577 2016-12-27  30711XBD5  1.000000  0.69378    325
578 2016-12-27  30711XBF0  1.000000  0.69378    325
579 2016-12-27  30711XBH6  1.000000  0.69378    325
580 2016-12-27  30711XBM5  1.000000  0.69378    325
581 2016-12-27  30711XBU7  1.000000  0.69378    325
582 2016-12-27  30711XCB8  1.000000  0.69378    325
583 2016-12-27  30711XCL6  1.000000  0.69378    325
584 2016-12-27  30711XCT9  1.000000  0.69378    325
585 2016-12-27  3137G0HW2  1.000000  0.69378    325
586 2016-12-27  3137G0JJ9  1.000000  0.69378    325
587 2016-12-27  3137G0JU4  1.000000  0.69378    325
588 2016-12-27  3137G0KE8  1.000000  0.69378    325
589 2016-12-27  30711XDA9  1.000000  0.69378    325
590 2016-12-27  30711XDK7  1.000000  0.69378    325
591 2016-12-27  30711XDS0  1.000000  0.69378    325
592 2016-12-27  30711XEC4  1.000000  0.69378    325
593 2016-12-27  3137G0KQ1  1.000000  0.69378    325
594 2016-12-27  3137G0LA5  1.000000  0.69378    325
595 2016-12-27  3137G0LJ6  1.000000  0.69378    325
596 2016-12-27  3137G0LU1  1.000000  0.69378    325
597 2016-12-27  3137G0MD8       NaN  0.69378    325
598 2016-12-27  3137G0NE5       NaN  0.69378    325
599 2016-12-27  3137G0NX3       NaN  0.69378    325
600 2016-12-27  3137G0PU7       NaN  0.69378    325
601 2016-12-27  30711XEP5       NaN  0.69378    325
602 2016-12-27  30711XGP3       NaN  0.69378    325
603 2016-12-27  30711XJX3       NaN  0.69378    325
604 2016-12-27  30711XLT9       NaN  0.69378    325

[605 rows x 5 columns]

In [10]:
# initialize losses to zero
dx['loss'] = np.zeros((len(dx.FACTOR), 1))

In [11]:
dx.head(10)

        date      CUSIP    FACTOR    LIBOR SPREAD  loss
0 2017-10-25  3137G0AM1  1.000000  1.18444    450   0.0
1 2017-10-25  3137G0AY5  1.000000  1.18444    450   0.0
2 2017-10-25  3137G0BK4  0.962965  1.18444    450   0.0
3 2017-10-25  3137G0BW8  1.000000  1.18444    450   0.0
4 2017-10-25  3137G0CH0  1.000000  1.18444    450   0.0
5 2017-10-25  3137G0CU1  0.919041  1.18444    450   0.0
6 2017-10-25  3137G0DF3  1.000000  1.18444    450   0.0
7 2017-10-25  3137G0DW6  1.000000  1.18444    450   0.0
8 2017-10-25  3137G0EJ4  1.000000  1.18444    450   0.0
9 2017-10-25  3137G0EW5  1.000000  1.18444    450   0.0

In [12]:
dx.tail(10)

          date      CUSIP  FACTOR    LIBOR SPREAD  loss
595 2016-12-27  3137G0LJ6     1.0  0.69378    325   0.0
596 2016-12-27  3137G0LU1     1.0  0.69378    325   0.0
597 2016-12-27  3137G0MD8     NaN  0.69378    325   0.0
598 2016-12-27  3137G0NE5     NaN  0.69378    325   0.0
599 2016-12-27  3137G0NX3     NaN  0.69378    325   0.0
600 2016-12-27  3137G0PU7     NaN  0.69378    325   0.0
601 2016-12-27  30711XEP5     NaN  0.69378    325   0.0
602 2016-12-27  30711XGP3     NaN  0.69378    325   0.0
603 2016-12-27  30711XJX3     NaN  0.69378    325   0.0
604 2016-12-27  30711XLT9     NaN  0.69378    325   0.0